@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Conflict.Shared
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>



@if(IsConnected)
{
<div>
    <input @bind-value="messageInput" @bind-value:event="oninput" @onkeydown="Enter" />
    <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
</div>

<br>
<hr>

<ul>
    @foreach (var message in messages)
    {
        <li>@message.Author.Name :: @message.Content</li>
    }
</ul>
}
else
{
    <Loading Message="Connecting to server"/>
}


