@page "/"
@attribute [Authorize]
@inject NavigationManager Navigation
@inject HubConnectionProvider ConnectionProvider
@using Conflict.Client.Shared.AppComponents

<PageTitle>Index</PageTitle>

@if(IsConnected)
{
    <div class="container-style">
        <main class="container">
            <ChannelList />
            <MessageArea />
        </main>
    </div>
    <AddChannelModal />
}
else
{
    <Loading />
}


