@page "/"
@attribute [Authorize]
@inject NavigationManager Navigation
@inject HubConnectionProvider ConnectionProvider
@using Conflict.Client.Shared.App

<PageTitle>Index</PageTitle>

@if(IsConnected)
{
    <main class="container">
        <ChannelList />
        <MessageArea />
    </main>
}
else
{
    <Loading />
}


