.channel-list-container{
    width: 240px;
    padding: 10px;
    height: 100%;
}

.channel-list-container h2{
    margin: 20px 0 20px 10px;
    font-size: 34px
}

.channel {
    padding: 5px 5px 5px 10px;
    margin: 7px 0;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    transition: 300ms;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

    .channel.active {
        background-color: rgb(255, 255, 255, 0.2)
    }

.channel:not(.active):hover{
    background-color: rgb(255, 255, 255, 0.1)
}


.channel .channel-icon{
    width: 20px;
    margin-right: 5px;
}

.channel .delete-channel{
    all: unset;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.channel img{
    width: 18px;
}

.add-channel {
    all: unset;
    background-color: rgb(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    padding: 7px 5px;
    border-radius: 7px;
    margin: 15px 0 0 10px;
    transition: 250ms;
}
    .add-channel:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255, 0.2)
    }
    .add-channel img {
        width: 17px;
        filter: invert(71%) sepia(82%) saturate(0%) hue-rotate(161deg) brightness(101%) contrast(80%);
    }
