* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lexend", sans-serif;
}

h1:focus{
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2b2d31;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1a1b1e;
    border-radius: 5px;
}

.button {
    all: unset;
    font-weight: 400;
    color: white;
    padding: 7px 13px;
    border-radius: 4px;
    transition: background-color 300ms;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:hover{
    cursor: not-allowed;
}
.button[class="button can-press"]:hover{
    text-decoration: underline;
    cursor: pointer;
}
.button.can-press:hover{
    cursor: pointer;
}
    .button.primary {
        background-color: #424992;
    }
        .button.primary.can-press {
            background-color: #5865f2;
        }
            .button.primary.can-press:hover {
                background-color: #4752c4;
            }

.special-text {
    font-size: 1.3em;
    background: rgb(26,109,255);
    background: linear-gradient(351deg, rgba(26,109,255,1) 0%, rgba(200,34,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}