<div class="loading-container">
	<div class="loading">
		<img src="/cloudshot.svg" alt="Loading..." draggable="false"/>
		<p>@(string.IsNullOrEmpty(Message) ? "Page is loading..." : Message + dots)</p>
	</div>
</div>
