@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage

<div class="container">
    <div class="login">
        <h3>Welcome Back!</h3>

        <EditForm Model="User" OnSubmit="HandleLogin" >
            <div class="input-element">
                <label for="username">Username</label>
                <br />
                <InputText class="input" id="username" @bind-Value="User.Name" required />
            </div>

            <div class="input-element">
                <label for="password">Password</label>
                <br />
                <InputText class="input" id="password" @bind-Value="User.Password" type="password" required />
            </div>
            @if (!string.IsNullOrEmpty(Error))
            {
                <p class="error">@Error</p>
            }

            <button type="submit" class="button primary @CanPress">Log In</button>
        </EditForm>
    </div>
</div>
