@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject HubConnectionProvider HubConnection;

<AuthorizeView>
	<Authorized>
		<button class="logout button danger can-press" @onclick="SignOut">Log Out</button>
	</Authorized>
</AuthorizeView>

@code {
	public async void SignOut()
	{
		// Stop SignalR connection
		await HubConnection.HubConnection.StopAsync();

		// Remove token from localstorage and refresh authstate
		await LocalStorage.RemoveItemAsync("token");
		await AuthStateProvider.GetAuthenticationStateAsync();
	}
}
